[submodule "umod-player"]
	path = umod-player
	url = https://github.com/AntonioND/umod-player
[submodule "libugba"]
	path = libugba
	url = https://github.com/AntonioND/libugba
[submodule "SuperFamiconv"]
	path = SuperFamiconv
	url = https://github.com/Optiroc/SuperFamiconv
